<%= link_to 'Fetch new data',
  organizations_url,
  class: 'button button--right',
  method: 'post'
%>

<% @organizations.each do |organization| %>
  <h1><%= organization.name %></h1>
  <br/>

  <% organization.pipes.each do |pipe| %>
    <%= render 'pipe', pipe: pipe, cards: pipe.cards, fields: pipe.fields %>
  <% end %>
<% end %>
